server {
  listen 80;

  server_name  {{ item }};
  root         /srv/www/{{ item }};
  access_log   /var/log/nginx/{{ item }}/access.log;
  error_log    /var/log/nginx/{{ item }}/error.log error;

   location / {
    autoindex on;
  }

}
