---

- name: Install lisp and scheme thangs
  apt: pkg={{ item }} state=present
  with_items:
    - sbcl
    - sbcl-doc
    - sbcl-source
    - cl-quicklisp
    - guile-2.0
    - guile-2.0-doc
    - guile-2.0-dev

- include: lisp/clozure.yml
  tags: clozure
- include: lisp/quicklisp.yml
  tags: quicklisp
  become_user: "{{ default_user }}"
