---
- name: Remove default exim4 install
  apt: pkg=exim4 state=absent

- name: Install postfix packages
  apt: pkg={{ item }} state=present
  with_items:
    - libsasl2-modules
    - postfix
    - postfix-pcre
    - postfix-pgsql
    - postgrey
    - sasl2-bin

- name: Create database user for mail server
  postgresql_user: name={{ db_mail_user }} password="{{ db_mail_pass }}"
    state=present encrypted=yes
  sudo: yes
  sudo_user: postgres

- name: Create database for mail server
  postgresql_db: name={{ db_mail_database }} owner={{ db_mail_user }}
    state=present
  sudo: yes
  sudo_user: postgres

- name: Copy import.sql
  template: src=import_sql.j2 dest=/etc/postfix/import.sql owner=root group=root mode=0600

- name: Run import.sql
  shell: PGPASSWORD="{{ db_mail_pass }}" psql -h localhost
    -U {{ db_mail_user }} -d {{ db_mail_database }}
    -f /etc/postfix/import.sql --set ON_ERROR_STOP=1
  notify: restart postfix

- name: Check for postfix main config
  stat: path=/etc/postfix/main.cf
  register: pf_conf

- name: Add main.cf
  template: src=main.conf.j2 dest=/etc/postfix/main.cf owner=root group=root
  when: not pf_conf.stat.exists
  notify: restart postfix

- name: Copy master config and header checks
  copy: src={{ item }} dest=/etc/postfix/{{ item }} owner=root group=root
  with_items:
    - master.cf
    - smtp_header_checks.pcre
  notify: restart postfix

- name: Copy additional postfix configuration files
  template: src={{ item }}.j2 dest=/etc/postfix/{{ item }}.cf owner=root group=root
  with_items:
    - vmail_aliases
    - vmail_domains
    - vmail_users
  notify: restart postfix

- name: Set firewall rules for postfix
  ufw: rule=allow port={{ item }} proto=tcp
  with_items:
    - smtp
    - ssmtp
