---

- include: apt.yml
  tags: updates
- include: users.yml
  tags: users
- include: security.yml
  tags: security

- name: Install the basics
  apt: pkg={{ item }} state=present
  with_items:
    - apt-file
    - apt-transport-https
    - build-essential
    - debian-goodies
    - htop
    - iftop
    - iotop
    - lsof
    - ntp
    - rsync
    - screen
    - strace
    - slurm
    - unattended-upgrades
    - vim
    - wamerican
    - zsh
  notify: remove unnecessary packages

- name: Add the ntp config
  copy: src=ntp.conf dest=/etc/ntp.conf
  notify: restart clock
