# Set the WorkingDirectory, Environment and ExecStart values to match your environment.

[Unit]
Description=Mediagoblin Celeryd

[Service]
User={{ mediagoblin_user }}
Group={{ mediagoblin_user }}
Type=simple
WorkingDirectory=/srv/www/media.{{ domain }}/mediagoblin

# Create directory for PID (if needed) and set ownership
ExecStartPre=/bin/mkdir -p /run/mediagoblin
ExecStartPre=/bin/chown -hR mediagoblin:mediagoblin /run/mediagoblin

# Celery process will run as the `mediagoblin` user after start.
Environment=MEDIAGOBLIN_CONFIG=/srv/www/media.{{ domain }}/mediagoblin/mediagoblin_local.ini \
            CELERY_CONFIG_MODULE=mediagoblin.init.celery.from_celery
ExecStart=/srv/www/media.{{ domain }}/mediagoblin/bin/celery worker \
              --logfile=/var/log/mediagoblin/celery.log \
              --loglevel=INFO
PIDFile=/run/mediagoblin/mediagoblin-celeryd.pid

[Install]
WantedBy=multi-user.target
