server {
  listen 80;

  server_name redlinernotes.com;
  root /srv/www/redlinernotes.com;
  access_log /var/log/nginx/redlinernotes.com/access.log;
  error_log  /var/log/nginx/redlinernotes.com/error.log error;

  location / {
    autoindex on;
  }

}
