---

- hosts: cons
  user: deploy
  sudo: True
  vars_files:
    - vars/cons.yml
  roles:
    - common
    - webserver
    - { role: blog, tags: ['blog'] }
    #- database
    #- mailserver
    #- webmail
