---

- hosts: cons
  user: deploy
  sudo: yes
  vars_files:
    - vars/cons.yml
    - vars/private.yml
  roles:
    - { role: common, tags: ['common'] }
    - { role: webserver, tags: ['web'] }
    - { role: blog, tags: ['blog'] }
    - { role: mailserver, tags: ['mail'] }
    - { role: bookmarks, tags: ['bookmarks'] }
    - { role: bouncer, tags: ['irc'] }
    - { role: radio, tags: ['radio'] }
    #- { role: webmail, tags: ['webmail'] }
