{
    "host": "0.0.0.0",
    "port": 16242,
    "dbPath": "groovebasin.db",
    "musicDirectory": "/mnt/music",
    "lastFmApiKey": "bb9b81026cd44fd086fa5533420ac9b4",
    "lastFmApiSecret": "2309a40ae3e271de966bf320498a8f09",
    "acoustidAppKey": "bgFvC4vW",
    "encodeQueueDuration": 8,
    "sslKey": "{{ ssl_certroot }}/privkey.pem",
    "sslCert": "{{ ssl_certroot }}/fullchain.pem",
    "sslCaDir": null,
    "googleApiKey": "AIzaSyDdTDD8-gu_kp7dXtT-53xKcVbrboNAkpM"
}
