server {
  server_name  {{ blog_domain }};
  access_log   /var/log/nginx/{{ blog_domain }}/access.log;
  error_log    /var/log/nginx/{{ blog_domain }}/error.log error;
  root         /srv/www/{{ blog_domain }}/.curr;
  index        index.html;

   location / {
    autoindex on;
  }
}

server {
  server_name blog.redlinernotes.com;
  return 301  http://{{ blog_domain }}$request_uri;
}
